
#agregar {
  padding-top: 12px;
}



.body {
    background-color: rgb(1, 10, 22);
}

.titulo {
    color: white;
    font-size: 60px;
}
.container {
    margin-top: 10px;
}

td {
    color: black;
}

th {
    color: black;
}

#image {
    max-width: 80%;
    max-height: 80%;
    
}

h4 {
    color: white;
}

a:link {
    text-decoration: none;
}

#cardTitle {
    font-size: 40px;
}

#card {
    background-color: rgba(173, 216, 230, 0.459);
}

label {
    color: white;
}

.fa-solid {
  font-size: 50px;
  color: white;
}

.icon-team {
  margin-top: 20px;
  margin-left: 20px;
  
}

.fa-solid:hover{
  color: grey;
}

#container-team {
  margin-top: -50px;
}